* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.parentBox {
    padding: 20px;
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4, 300px);
}
.box {
    border: 1px;
    border-color: wheat;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px rgb(157, 157, 157);
}
.text {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.founder {
    width: 100%;
    /* border-radius: 10px; */
    margin-top: 10px;
}
.logo {
    width: 130px;
    display: block;
    margin: auto;
}